.home__container{
    position: relative;
    width: 986px;
    height: 675px;
    overflow: hidden;
}
.bg__home{
    position: absolute;
    top: 0;
    left: 0;
    width: 986px;
    height: 675px;
    object-fit: cover;
    z-index: 0;
}
.bg__flou{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px); /* Pour Safari */
    z-index: 1;

    /* ou bien si ce n'est pas bien supporter: https://caniuse.com/?search=backdrop-filter */
    /* object-fit: cover;
    filter: blur(8px);
    z-index: 1;
    opacity: 0.8; */
    /* Flou ajouté via une couche par-dessus avec backdrop-filter (ou filter selon compatibilité) */
}
.home__content{
    position: relative;
    z-index: 2;
    display: flex;
    gap: 72px 0px; /* Hiérarchie : 96 - 72 - 48 - 32 */ 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
}


.titre__home{
    font-family: $font-primary02;
    font-weight: 700;
    margin: 0;
    font-size: 96px;
    color: #D96B52;
    text-shadow:
        -2px -2px 0 #f2dbc4, /* #F7E3CF */
        2px -2px 0 #f2dbc4,
        -2px 2px 0 #f2dbc4,
        2px 2px 0 #f2dbc4,
        -3px 0px 0 #f2dbc4,
        3px 0px 0 #f2dbc4,
        0px -3px 0 #f2dbc4,
        0px 7px 0 #f2dbc4;
}



.toggle {
    position: relative;
    width: 180px;
    height: 60px;
    cursor: pointer;
    background: #ffffff00;
    border: 5px solid;
    border-color: $btn-bg-couleur;
    border-radius: 999px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    padding: 0 15px;
    box-sizing: content-box;
    box-shadow:
        4px 7px 14px rgba(0, 0, 0, 0.28),
        4px 3px 4px rgba(0, 0, 0, 0.17),
        inset 0 2px 6px rgba(255, 255, 255, 0.08);
    user-select: none; /* Go Checker les compatibilitées */
    -webkit-user-select: none; /* Pour Safari */
}
.toggle .label {
    flex: 1;
    text-align: center;
    font-family: $font-primary02;
    font-weight: 400;
    font-size: 36px;
    color: #ffffff;
    z-index: 3;
    pointer-events: none;
    transition: color 0.3s ease;
}


.toggle .handle {
    position: absolute;
    top: 0px;
    left: -1px;
    width: 109px;
    height: 60px;
    background: $btn-bg-couleur;
    border-radius: 999px;
    transition: left 0.40s cubic-bezier(0.67, 0.01, 0.34, 0.99);
    cursor: grab;
    z-index: 0;
}



/* --- les keyframes --- */
.oiseau,
.voiture__container {
    position: absolute;
    z-index: 1;
}


.oiseau1 {
    top: 14.7vh;
    left: 50%;
    transform: translateX(-50%);
    width: 120px;
    animation: vole 2s ease-in-out infinite alternate;
}
.oiseau2 {
    top: 29vh;
    left: calc(58% + 180px);
    width: 100px;
    animation: vole 3s ease-in-out infinite alternate-reverse;
}


.voiture__container {
    bottom: 41px;
    right: 125px;
    width: 490px;
    height: auto;
}

.voiture__container .voiture {
    width: 100%;
    height: auto;
    display: block;
    animation: tremblement 0.25s infinite ease-in-out;
}

.voiture__container .roue {
    position: absolute;
    width: 100px;
    height: 100px;
    animation: rotation 4s linear infinite;
}

.voiture__container .roue1 {
    bottom: 0px;
    left: 34px;
}
.voiture__container .roue2 {
    bottom: 0px;
    right: 52px;
}

@keyframes vole {
    0% {
        transform: translateX(-50%) translateY(0);
    }
    100% {
        transform: translateX(-55%) translateY(-15px);
    }
}

@keyframes rotation {
    0% { transform: rotate(360deg); }
    100% { transform: rotate(0deg); }
}

@keyframes tremblement {
    0%   { transform: translateY(0); }
    25%  { transform: translateY(-0.5px); }
    50%  { transform: translateY(1px); }
    75%  { transform: translateY(-0.5px); }
    100% { transform: translateY(0); }
}