/* grid */
.grid {
    box-sizing: border-box;
    padding: 0 0rem;
    width: 100%;
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr;

    @include responsive(tablet) {
        padding: 0 0rem;
        justify-content: center;
        grid-column-gap: 0rem;
        grid-template-columns: 1fr;
    }
    
    @include responsive(desktop) {
        padding: 0 0rem;
        grid-template-columns: 1fr;
    }
}


/* placement grid */
.grid > * {
    grid-column: 1/-1;
}

@for $i from 1 through 5 {
    .grid-start#{$i} { grid-column-start: $i; }
    .grid-end#{$i} { grid-column-end: $i; }
}


/* flexbox */
.grid-flex {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 1rem;
}
.flex-start {
    display: flex;
    justify-content: flex-start;
}
.flex-end {
    display: flex;
    justify-content: flex-end;
}