.form-user-input{
    display: flex;
    flex-direction: column;
}

.label-user-input{
    display: inline-block;
    width: 200px;
    margin-left: 48px;
    margin-bottom: 16px;
    color: white;
    font-size: 32px;
    font-family: $font-primary;
    transform: rotate(-6deg);
}

.username-input{
    margin-left: 48px;
    width: 214px;
    padding: 15px;
    box-sizing: border-box;
    border: none;
    border-radius: 50px;
    background-color: #D9C667;
    color: white;
    font-family: $font-primary;
}

.username-input::placeholder{
    color: white;
    font-family: $font-primary;
    opacity: 0.5;
}

//CHANGER LE DEFAULT FOCUS
.username-input:focus{
    outline: solid 2px white;
}
