
.animation-bg__blur{
    filter: blur(10px);
    opacity: 100%;
}

.score__bg{
    position: fixed;
    width: auto;
    height: auto;
    background-color: #F7E3CF;
    margin-left: 128px ;
    margin-right: 128px ;
    margin-top: 85px ;
    margin-bottom: 85px ;
    padding-left:75px ;
    padding-right:75px ;
    border-radius: 30px;
}

.texte{
    font-family: $font-primary;
}

.score__design{
    border: solid #DAC665 2px;
    border-radius: 20px;
    background-color: white;
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 336px;

}

