/* mixins */
/* paragraph */
@mixin paragraph ($color-paragraph) {
	font-family: $font-secondary;
	color : $color-paragraph;
	line-height: 1.6;
	max-width: 75ch;
}


/* button */
@mixin button-style($bg, $color, $bg-hover, $hover) {
	@include font-size-responsive(16px, 18px, 20px);
    background-color: $bg;
    color: $color;
    border: none;
    padding: 1rem;
    cursor: pointer;
    &:hover { background-color: $bg-hover; color: $hover; }
}


/* grid */
// grid-layout
@mixin grid($padding, $gap) {
	display: grid;
	padding: $padding;
	gap: $gap;
	box-sizing: border-box;
	width: 100%;
	max-width: 100%;
	overflow: hidden;
} /* ca casse le btn de la section blur */

// grid-cols
@mixin grid-cols($count, $gap: 1rem) {
  display: grid;
  grid-template-columns: repeat($count, 1fr);
  gap: $gap;
}

/* transitions */
@mixin transition($props...) {
  transition: $props $duration-base $easing-default;
}