/* fonts */
$font-primary: "dynapuff-condensed", sans-serif;
$font-primary02: "DynaPuff", system-ui;
$font-secondary: "Source Sans 3", sans-serif;

//colors
$color-primary: #FFFFF7;
$color-secondary: #000000;
$btn-bg-couleur: #D9C667;