/* fonts */
$font-primary: "dynapuff-condensed", sans-serif;
$font-secondary: "Source Sans 3", sans-serif;

/* couleurs */
$color-bg: #fff;
$color-white: #fff;
$color-black: #000;


//colors
$color-primary: #FFFFF7;
$color-secondary: #000000;
$color-hover01: #FCCD50;
$color-hover02: #D90659;
$btn-bg-couleur: #D9C667;


/* breakpoints */
$breakpoint-mobile: 480px;
$breakpoint-tablet: 768px;
$breakpoint-tablet--landscape: 1024px;
$breakpoint-desktop: 1280px;
$breakpoint-desktop--large: 1440px;
$breakpoint-ultra-wide: 1920px;


/* spacing */
$space: 0.25rem;
$space-mobile: 0.5rem;
$space-tablet: 1rem;
$space-tablet--landscape: 1.5rem;
$space-desktop: 2rem;
$space-desktop--large: 3rem;
$space-ultra-wide: 4rem;


/* radius */
$radius: 0.25rem;
$radius-mobile: 0.5rem;
$radius-tablet: 1rem;
$radius-tablet--landscape: 1.5rem;
$radius-desktop: 2rem;
$radius-desktop--large: 3rem;
$radius-ultra-wide: 4rem;


/* transistions */
$transition-base: all 0.3s ease-in-out;

$easing-default: ease-in-out;
$duration-fast: 150ms;
$duration-medium: 300ms;
$duration-slow: 500ms;