/* global style */
html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body{
    width: 100%;
    margin: 0;
    padding: 0;
}
  
.scene {
    width: 986px;
    height: 675px;
}

.logo-jeu{
    margin-left: 50px;
    margin-top: 80px;
    margin-bottom: 0;
    padding: 0;
    width: 500px;
    height: 300px;

    //ajout de l'ombre => vu sur un forum
    filter: drop-shadow(3px 5px 2px rgba(193, 75, 69, 0.3));
}
  
.home-body{
    background-image: image-set(
    url("../../assets/images/Home_background.webp") 1x,
    url("../../assets/images/Home_background@2x.webp") 2x
    );
    background-size: cover;
    background-repeat: no-repeat;
}
  
  
.level1 {
    background-image: image-set(
      url("../../assets/images/level1/Lvl01_background.webp") 1x,
      url("../../assets/images/level1/Lvl01_background@2x.webp") 2x
    );
    background-size: cover;
    background-repeat: no-repeat;
}